NODE_ENV=development
DATABASE_URL="postgresql://postgres:<DB_PASSWORD>@localhost:5432/foodgram_dev"
MONGO_URI=mongodb://root:rootpassword@mongodb:27017/feelgptdev?authSource=admin&directConnection=true
JWT_SECRET_KEY="secret"
