
html,body {
  position: relative;
  width:100%;
  height:100%;
  margin: 0px;
}

body {
  min-height: 100vh;
  width: 100%;
  --root-background-light: white;
  --root-background-dark: rgb(30, 44, 71);
  
}


.live-video{
  border-radius: 10px;
}


.light {
  background-color: var(--root-background-light);
  color: black
}

.dark {
  
  background-color: var(--root-background-dark);
    color: rgb(200, 200, 200);
}






.app-container {
  display: flex;
  /* URGENT: this only add fixed padding
  mai problem: it doesnt fill the whole screen */
  /* padding-bottom: 60px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  
}

.chat-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 600px;
  justify-content: flex-end;
/*   box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.2), inset 0px -10px 10px -10px rgba(0, 0, 0, 0.2);
 */
}

.big-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: flex-end;
  /* TEMPORARY PADDING  */
  /* margin-bottom: 65px; */
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  
}

/* when video is enabled */
.big-container.video-enabled {
  flex-direction: row;
}

.hidden-video {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}

.video-enabled-chat {
  width: 40vw;
}




.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 15px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-left: 30px;
  /* margin-top: 5px; */
  border: 1px solid #b5b5b0;
  border-radius: 4px;
  font-family: inherit;
}

textarea:focus {
  border: 1px solid #b5b5b0;
  outline: none;
}



.date-bar {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: gray;
  background-color: #0d73bc2b;
  height: 35px;
  line-height: 35px; /* Centers text vertically */

  position: relative;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: 85vh;
  /* padding-right: 10px; */
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.2), inset 0px -10px 10px -10px rgba(0, 0, 0, 0.2);

}

/* Message container */
.message-container {
  display: flex;
  flex-direction: column;
  position: relative; /* For positioning time and date */
  margin-bottom: 20px; /* Add space between messages */
}

.message-border {

  padding: 16px;
  border-radius: 15px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: #7896ab; /* Message background */
  max-width: 60%;
  margin-left: 5px;
}

/* Position the timestamp for messages from the user */
.me .message-border {
  border: 1px solid #668fac;
  border-radius: 5px;
  background-color: rgb(240, 244, 248);
  margin-left: 10px;
  margin-right: 5px;

}

.me .timestamp {
  position: absolute;
  right: 5px;
  bottom: -20px;
  font-size: 0.8em;
  color: gray;
  margin-bottom: 5px;
}

.me .emotion-label {
  font-size: 0.8em;
  color: gray;
  white-space: nowrap;
  position: absolute;

  right: 5px;
  bottom: -32px; /* Adjust bottom position to avoid overlap with timestamp */
}

/* Position the timestamp for messages from the sender */
.them .message-border {
  margin-right: 10px;
  background-color: #82afcf;
}

.them .timestamp {
  position: absolute;
  left: 75px;
  bottom: -20px;
  font-size: 0.8em;
  color: gray;
  margin-bottom: 5px;
}

.messages::-webkit-scrollbar {
  display: none; /* Hidden scrollbar */
}

.me {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.them {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.input-field {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  resize: none;
  max-height: 150px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.4em;
}

textarea {
  resize: none;
}

.chat {
  margin-right: 10px;
}

.send-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.send-button-img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

/* a pulse of color */

/* Keyframe Animations for different emotions */
@keyframes HAPPINESS {
  0% {
    color: gray;
  }
  50% {
    color: #FFD700; 
  }
  100% {
    color: gray;
  }
}

@keyframes SADNESS {
  0% {
    color: gray;
  }
  50% {
    color: #1E90FF; 
  }
  100% {
    color: gray;
  }
}

@keyframes ANGER {
  0% {
    color: gray;
  }
  50% {
    color: #FF6347; 
  }
  100% {
    color: gray;
  }
}

@keyframes FEAR {
  0% {
    color: gray;
  }
  50% {
    color: #5e287a; 
  }
  100% {
    color: gray;
  }
}

@keyframes SURPRISE {
  0% {
    color: gray;
  }
  50% {
    color: #32CD32; 
  }
  100% {
    color: gray;
  }
}


/* Default styles for the emotion label */
.emotion-label {
  font-size: 0.8em;
  position: absolute;
  right: 5px;
  bottom: -40px;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  color: gray; /* Start color */
}

/* Specific animation classes for different emotions */
.HAPPINESS {
  animation-name: HAPPINESS;
}

.SADNESS {
  animation-name: SADNESS;
}

.ANGER {
  animation-name: ANGER;
}

.FEAR {
  animation-name: FEAR;
}

.SURPRISE {
  animation-name: SURPRISE;
}

.SURPRISE {
  animation-name: NEUTRAL;
}


/* sliders */

.win10-thumb{
  background-color: inherit;
  
}

.sliders{
  display:flex;
  flex-direction: row;
  margin-top: 40px;
}

.slider-label{
  color:#b5b5b0;
  font-size: 10px;

}
/* === Essential range slider styles === */
input[type="range"] {
  width: 6em;
  font-size: 1.5rem;
  color: #286da5;
  --thumb-height: 0.6875em; /* 50% smaller */
  --thumb-width: 0.25em;    /* 50% smaller */
  --track-height: 0.0625em; /* 50% smaller */
  --track-color: rgba(83, 99, 149, 0.2);
  --brightness-hover: 180%;
  --brightness-down: 80%;
}



/* WebKit specific styles */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-thumb {
  width: var(--thumb-width);
  background-color: currentColor;
  border-radius: var(--thumb-height);
  filter: brightness(100%);
  cursor: grab;
}

/* input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
} */

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) no-repeat center /
    100% calc(var(--track-height) + 1px);
}

/* Firefox specific styles */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-thumb {
  background: currentColor;
  width: var(--thumb-width);
  border-radius: var(--thumb-height);
  cursor: grab;
}

input[type="range"]::-moz-range-track {
  background: var(--track-color);
  height: calc(var(--track-height) + 1px);
}

.centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
  font-size: 20px;
}

@media (max-width: 600px) {
  .centered-text {
    font-size: 12px;
    top: 30%;
    left: 15%;
    transform: translate(-10%, -10%);
    width: 130px;
  }

  .input-container{
    margin-top: 10px;
    margin-bottom:20px;
    position: fixed; /* Makes the navbar stay fixed at the top */
    bottom: 0; /* Aligns it to the top */
    left: 0; /* Aligns it to the left */
    width: 100%;
  }
}

@media (max-width: 600px) {

  

  .app-container{
    height:100vh;
  }
  .chat-container {
    width:auto;
    height:100%;
    margin-bottom: 20px;

  }

  .big-container{
  }

  .chat-container.video-enabled-chat{
    max-height: 60vh;;
  }
  .big-container.video-enabled {
    display: flex;
    flex-direction: column;
    margin-top: 0%;

  }

  .video-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* padding: 10px; */
    margin-right: 0px;
    
  }

  .live-video{
    width: 50%;
    height: auto;
  }

  .sliders{
    display:flex;
    flex-direction: row;
    margin-top: 0px;
    margin: 8px;
  }
  
  .slider-label{
    color:#b5b5b0;
    font-size: 10px;
  
  }

  .messages {
    max-height: 100vh;
    margin-bottom: 15px;
  }

}