/* CHAT COMPONENT */
.input-container.dark{
    color: rgb(30, 44, 71);

}

.message-border.dark{
    background-color: rgb(24, 37, 61);

}

.messages.dark{
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.6), inset 0px -10px 10px -10px rgba(0, 0, 0, 0.6);

}


.me .message-border.dark{
    background-color: rgba(52, 71, 104, 0.815);
    
}


.date-bar.dark{
    background-color: #0f1c2c;
    
}


/* HISTORY COMPONENT */

.summary-list.dark{
    background-color: rgb(26, 41, 70); 
}
.summary-buttons.dark{
    background-color: #0f1c2c;  
}

.summary-text.dark{
    background-color: #0f1c2c;
}



.down.dark{
    margin-bottom: 10px;;
    background-color: #9b545f;
  }

  .down.dark:hover {
    background-color: #9b545f;
    transform: translateY(-2px);
  }



.info-container.dark{
    background-color: #0f1c2c;
    border: none; 
}
.info-container.light{

background-color: rgb(240, 244, 248);; 
border: none;
}

.overlay-content.dark{
    background-color: #0f1c2c;
}

.settings-form{
    background-color: transparent;
}