
.input-container.dark{
    color: rgb(30, 44, 71);

}

.message-border.dark{
    background-color: rgb(24, 37, 61);

}

.messages.dark{
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.6), inset 0px -10px 10px -10px rgba(0, 0, 0, 0.6);

}


.me .message-border.dark{
    background-color: rgba(52, 71, 104, 0.815);
    border: none;
}


.date-bar.dark{
    background-color: #0f1c2c;
    
}

.summary-item.dark{
    background-color: #0f1c2c;  
}

.summary-text.dRK{
    background-color: #0f1c2c;
}