.settings-form {
    padding: 20px;
    font-family: inherit;
    display:flex;
    flex-direction: row;
    
  }
  
  .input-group {
    position: relative;
    margin-bottom: 40px;
    margin-right: 20px;

  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    margin-bottom: 5px;
  }
  
  .input-group label {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
  }
  

  .password-change .checkbox-group label {
    font-size: 14px;
  }
  
  .preferences .tone-labels,
  .reminder-labels {
    display: flex;
    justify-content: space-between;
  }

  .tone-labels {
    color: gray;
  }

  .reminder-labels {
    color: gray;
  }



  .preferences{
    margin-bottom: 20px;
  }
  
  input[type="range"] {
    width: 100%;
  }
  
  input[type="time"] {
    padding: 10px;
    width: 93%;
    border: 2px solid #ccc;
    color: gray
  }
  
  .time-picker{
    margin-top: 20px;
  }



  .form-control {
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    font:inherit;
    font-size: smaller;
    color: gray;
  }

  .week{
    margin-top: 20px;
  }
  

  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  
  .info-one{
    margin-right: 20px;
  }


  .change-password-button {

    background: none;
    color: #1d4c7d;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    padding-top: 20px;
    font-size: 14px;
    text-align: left;
  }
  
  .change-password-button:hover {
    text-decoration: none;
  }
  

  .password-change{
    
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
  }

  .wider{
    width: auto;
  }


  .update-buttons{
    display: flex;
    justify-content: flex-end;
  }


  .reminder-type{
    margin-top: 20px;

  }

  
.radio-buttons {
    color: gray;
  }


  @media (max-width: 600px) {
    .settings-form{
      display:flex;
      flex-direction: column;
      width: 85%;
    }

    .info-one{
      margin-bottom: 35px;
    }

  }