.live-video {
    width: 70%; 
    height: auto;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  */
  }
  @media (max-width: 600px) {
    
    .live-video{
      width: 50%;
      height: auto;
      margin:0px;
    }
  }